---
export interface Props {
  label: string;
  active?: boolean;
  icon?: string;
}

const { label, active = false, icon } = Astro.props;

const baseClasses =
  "flex h-9 items-center justify-center gap-1.5 rounded-full px-4 font-medium transition-all duration-200 ease-out select-none";
const activeClasses = "bg-white text-black shadow-sm";
const inactiveClasses = "text-white bg-gray-800 hover:bg-gray-700";

const classes = active
  ? `${baseClasses} ${activeClasses}`
  : `${baseClasses} ${inactiveClasses}`;
---

<button aria-label={label} tabindex="0" class={classes}>
  {icon && <div class="size-4 fill-current" set:html={icon} />}
  {label}
</button>
